<h2>Lista de Clases</h2>

<button *ngIf="isAdmin" mat-raised-button color="primary" (click)="nuevaClase()">Nueva Clase</button>

<div *ngFor="let clase of clases">
  <mat-card>
    <mat-card-title>{{ clase.nombre }}</mat-card-title>
    <mat-card-content>
      <p>Horario: {{ clase.horario }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isAdmin" mat-button color="accent" (click)="editarClase(clase.id)">Editar</button>
      <button *ngIf="isAdmin" mat-button color="warn" (click)="eliminarClase(clase.id)">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>
